ul {
  list-style: none;
  padding: 0 0 0 0;
  margin: 0 0 0 0;
}

html {
  --border-color: rgb(221, 221, 221);
  --background-color: rgb(221, 221, 221);
  --distance-away-from-container: 60px;
  --color-semi-black: #333333;
  --max-width: 1080px;
  color: rgb(187, 187, 187);
}

body {
  margin: 0 0 0 0;
  background-color: rgb(246, 246, 246);
  font-family: "Noto Sans KR", sans-serif;
}

header {
  position: relative;
}

p {
  margin: 0 0 0 0;
}

h3 {
  color: black;
  font-size: 24px;
  margin: 0 0 0 0;
}

h4 {
  margin: 0 0 0 0;
}

button {
  padding: 0 0 0 0;
}

button:focus {
  outline: none;
}

.bold {
  font-weight: bold;
}

.color-semi-black {
  color: var(--color-semi-black);
}

.mb-8 {
  margin-bottom: 8px;
}

.d-flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.f-direction-column {
  flex-direction: column;
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

.p-relative {
  position: relative;
}

.root-top-header {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid var(--border-color);
  background-color: white;
}

.top-header {
  display: flex;
  justify-content: space-between;
}

.max-width {
  max-width: 1080px;
}

.min-width {
  min-width: 1080px;
}

.fixed-width {
  width: 1080px;
}

.top-header__nav {
  padding: 15px 0 15px 0;
}

.top-header__nav ul {
  display: flex;
}

.selected {
  font-weight: 600;
  color: rgb(51, 51, 51);
}

.top-header__nav ul li {
  display: flex;
  align-items: center;
  font-size: 10pt;
  vertical-align: sub;
  margin-right: 10px;
}

.boundary {
  content: "";
  display: inline-block;
  height: 10px;
  width: 1px;
  margin-left: 5px;
  background-color: var(--background-color);
}

.top-header__nav ul li::after {
  content: "";
  display: inline-block;
  height: 10px;
  width: 1px;
  margin-left: 5px;
  background-color: var(--background-color);
}

.top-header__nav ul li:last-child::after {
  display: none;
}

.root-nav-header {
  position: relative;
  height: 3rem;
  left: 50%;
  transform: translate3d(-50%, 0, 0);
  padding: 1.5rem 0 1.5rem 0;
  border-bottom: 1px solid var(--border--color);
  background-color: white;
}

.nav-header {
  position: relative;
  height: 100%;
  left: 50%;
  transform: translate3d(-50%, 0, 0);
}

.nav-header__left {
  display: flex;
  position: absolute;
  top: 50%;
  transform: translate3d(0, -50%, 0);
}

.nav-header__left ul li {
  font-size: 14px;
}

.nav-header ul {
  display: flex;
}

.nav-category {
  font-size: 16px;
  color: rgb(115, 103, 92);
  margin-right: 0.8rem;
  font-weight: 600;
}

.nav-category i {
  margin-right: 5px;
}

.nav-category::after {
  content: "";
  display: inline-block;
  height: 15px;
  width: 1px;
  margin-left: 1rem;
  background-color: var(--background-color);
}

.nav-header ul li {
  margin-right: 0.3rem;
  color: #888888;
}

.nav-header__left ul li::after {
  content: "";
  display: inline-block;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  margin-left: 0.3rem;
  background-color: var(--background-color);
}

.nav-header__left ul li:last-child:after {
  display: none;
}

.title-image {
  width: 103px;
}

.nav-header__title {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);
}

.nav-header__right {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate3d(0, -50%, 0);
}

.nav-header__right-li {
  display: flex;
  align-items: center;
  font-size: 12px;
}

.nav-header__right-li div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-header__right-li div i {
  font-size: 18px;
  margin-bottom: 5px;
}

.nav-header__right-li::after {
  content: "";
  display: inline-block;
  height: 20px;
  width: 1px;
  margin-left: 10px;
  background-color: var(--background-color);
}

.shopping-cart-container {
  position: fixed;
  width: 100px;
  left: 50%;
  margin-left: 580px;
  top: 160px;
}

.shopping-cart-container > p {
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  margin: 3px 0 3px 0;
}

.shopping-cart-container__title {
  color: rgb(51, 51, 51);
}

.shopping-cart-container__number {
  color: rgb(244, 84, 82);
}

.shopping-cart__top-move-button {
  margin-top: 10px;
  height: 33px;
  border: 1px solid var(--border--color);
  background-color: white;
  font-weight: bold;
}

.shopping-cart {
  background-color: white;
  height: 250px;
  padding: 0 10px 0 10px;
  border: 1px solid var(--border--color);
}

.shopping-cart__up-button {
  position: relative;
  top: 0;
  border: none;
  border-bottom: 1px solid var(--border--color);
  background-color: white;
  padding: 5px 0 5px 0;
}

.shopping-cart__down-button {
  position: relative;
  top: 8px;
  border: none;
  border-top: 1px solid var(--border--color);
  background-color: white;
  padding: 5px 0 5px 0;
}

.shopping-cart__item-list {
  position: relative;
  height: 190px;
  overflow: hidden;
}

.shopping-cart__item {
  position: relative;
  width: 60px;
  height: 60px;
  left: 50%;
  transform: translate3d(-50%, 0, 0);
  margin: 15px 0 15px 0;
}

.shopping-cart__item-img {
  position: relative;
  width: 100%;
}

.shopping-cart__item-cover {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.05);
}

.main-banner {
  position: relative;
  display: flex;
  justify-content: center;
  width: 1080px;
  left: 50%;
  transform: translate3d(-50%, 0, 0);
}

.main-banner__button {
  position: relative;
  border-style: none;
  background-color: rgba(0, 0, 0, 0);
  padding: 0 0 0 0;
  width: 1080px;
  height: 300px;
  overflow: hidden;
}

.main-banner__button img {
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.3s ease 0s;
}

.main-banner__button:hover img {
  transform: scale(1.04, 1.04);
}

.main-banner__left-button {
  position: absolute;
  height: 50px;
  font-size: 30px;
  background-color: rgba(0, 0, 0, 0);
  border: none;

  left: 20px;
  top: 50%;
  transform: translate3d(0, -50%, 0);
}

.main-banner__right-button {
  position: absolute;
  height: 50px;
  font-size: 30px;
  background-color: rgba(0, 0, 0, 0);
  border: none;

  right: 20px;
  top: 50%;
  transform: translate3d(0, -50%, 0);
}

.main-banner__description {
  position: absolute;
  text-align: center;
  height: 30px;
  width: 60px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  color: white;
  padding: 3px 0 0 0;

  right: 12px;
  bottom: 12px;
}

.main {
  position: relative;
  left: 50%;
  transform: translate3d(-50%, 0, 0);
  background-color: white;
}

.container {
  box-sizing: border-box;
  padding: 2rem 3rem 2rem 3rem;
  width: 100%;
}

.goods-list {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 20px;
  border-bottom: 2px solid var(--border-color);
  padding-bottom: var(--distance-away-from-container);
}

@media (max-width: 1000px) {
  .goods-list {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media (max-width: 850px) {
  .goods-list {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 650px) {
  .goods-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

.goods {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
}

.goods-top {
  overflow: hidden;
}

.goods-top__image {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: all 0.3s ease 0s;
  z-index: -1;
}

.goods-top:hover .goods-top__image {
  transform: scale(1.1, 1.1);
}

.goods-top__discount {
  position: absolute;
  background-color: rgb(255, 55, 55);
  padding: 2px 4px 2px 4px;
  left: 0;
  color: rgb(255, 255, 255);
  font-weight: bold;
}

.goods-top__cover {
  position: relative;
  width: 144px;
  height: 144px;
  background-color: rgba(0, 0, 0, 0.05);
}

.goods__description {
  color: var(--color-semi-black);
  font-size: 14px;
}

.goods__description + p {
  color: rgb(136, 136, 136);
  font-size: 12px;
}

.goods__price {
  color: rgb(51, 51, 51);
  font-size: 16px;
  font-weight: bold;
}

.goods__price .discounted-price {
  color: rgb(255, 55, 55);
  font-size: 16px;
  font-weight: bold;
}

.goods__price .original-price {
  color: rgb(187, 187, 187);
  font-size: 14px;
  text-decoration: line-through;
  margin-left: 3px;
}

.drink-banner {
  position: relative;
}

.drink-banner > img {
  width: 984px;
}

.drink-description {
  position: absolute;
  background-color: white;
  box-sizing: border-box;
  width: 456px;
  height: 81px;
  top: 60%;
  left: 3%;
  font-size: 20px;
  color: var(--color-semi-black);
  padding: 20px 0 0 25px;
}

.drink-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 96px;
  gap: 10px;
  margin-top: 60px;
  width: 100%;
  height: 300px;
  padding-left: 30px;
}

.drink-item {
  position: relative;
  color: var(--color-semi-black);
}

.drink-item > .goods-top__discount {
  font-size: 15px;
}

.drink-item__img {
  display: flex;
  width: 96px;
  height: 96px;
  overflow: hidden;
}

.drink-item__img > img {
  transition: all 0.3s ease 0s;
}

.drink-item__img > img:hover {
  transform: scale(1.1);
}

.drink-item__description {
  padding: 4px 0 0 15px;
}

.drink-item__description > h4 {
  font-size: 14px;
}

.drink-item__description > p {
  color: rgb(136, 136, 136);
  font-size: 12px;
}

.footer {
  width: 100%;
  background-color: white;
  border-top: 1px solid var(--border-color);
}

.footer-nav-container {
  height: 45px;
  border-bottom: 1px solid var(--border-color);
}

.footer-nav {
  display: flex;
  align-items: center;
  width: var(--max-width);
  font-size: 12px;
  color: var(--color-semi-black);
}

.footer-nav li {
  padding-right: 10px;
}

.footer-nav li::after {
  content: "";
  display: inline-block;
  height: 10px;
  width: 1px;
  background-color: var(--border-color);
  margin-left: 10px;
}

.footer-nav li:last-child:after {
  display: none;
}

.corp-description-container {
  height: 160px;
}

.corp-description {
  width: var(--max-width);
  padding-top: 25px;
  font-size: 12px;
  color: #888888;
}

.corp-description__left-p span::after {
  content: "";
  display: inline-block;
  height: 10px;
  width: 1px;
  background-color: var(--border-color);
  margin-left: 7px;
  margin-right: 5px;
}

.corp-description__left-p span:last-child::after {
  display: none;
}

.corp-description__right-insurance {
  width: 290px;
  margin-right: 100px;
}

.corp-description__right-tel {
  font-size: 11px;
}
