.footer {
  font-size: 0.8rem;
  letter-spacing: -1px;
}

.footer__hr {
  margin: 0;
  border: none;
  height: 1px;
  background-color: rgb(221, 221, 221);
}

.footer__notice {
  height: 3rem;
  width: 1080px;
  margin: 0 auto;
  line-height: 3rem;
}

.footer__notice-wrapper {
  display: flex;
  align-items: center;
  margin: 0;
}

.footer__notice-item {
  position: relative;
  margin-right: 1rem;
  font-weight: 500;
}

.footer__notice_image-wrapper img {
  width: 1.8rem;
  margin-right: 0.2rem;
}

.footer__notice_image-wrapper {
  display: flex;
  align-items: center;
}

.footer__bottom {
  width: 1080px;
  margin: 0 auto;
  color: rgb(136, 136, 136);
}

.footer__bottom-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 1.5rem;
  margin-bottom: 3rem;
}

.footer__bottom-left {
  width: 32rem;
}

.footer__bottom-description {
  margin-bottom: 0.2rem;
}

.footer__bottom-description span:first-child {
  position: relative;
  margin-right: 1rem;
}

.footer .footer__bottom-description span:first-child::after {
  right: -0.6rem;
}

.footer__bottom-woowa {
  margin-top: 1rem;
}

.footer__bottom-service {
  width: 16rem;
}

.footer__bottom-service-description {
  margin-top: 0.5rem;
  margin-bottom: 0.3rem;
  line-height: 1.1rem;
}

.footer__bottom-service-center {
  display: flex;
  flex-direction: column;
}

.footer__bottom-service-center-phone {
  font-size: 1.3rem;
  margin-bottom: 0.1rem;
}

.footer__bottom-service-open {
  position: relative;
  margin-right: 0.6rem;
}

.footer .footer__bottom-service-open::after {
  right: -0.3rem;
}

.footer__bottom-service-holiday {
  font-size: 0.5rem;
}
